@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* body website*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    background: linear-gradient(to top, #bad5ff 0%, #ffffff 100%);
}

body{
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}

/*tombol teks dan judul*/
.btn{
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;
}
.text{
    opacity: 0.8;
}
.title{
    font-size: 2rem;
    margin-bottom: 1rem;
}

/*wrapper*/
.container{
    min-height: 90vh;
    
}
.meal-wrapper{
    max-width: 1280px;
    min-height: 90vh;
    background: #f6f9fc;
    text-align: center;
    margin: 0 auto;
    padding: 2rem;
}
.meal-search-box{
    margin: 1.2rem 0;
    align-items: stretch;
    display: flex;

}

.meal-search{
    margin: 1.8rem 0;
    text-align: center;

}


/*list pencarian makanan*/
#meal{
    margin: 2.4rem 0;
}
.meal-item{
    border-radius: 1rem;
    overflow: hidden;
    background: #f5fcfc;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 2rem 0;
    -webkit-border-radius: 0.75rem;
    -ms-border-radius: 0.75rem;
    -o-border-radius: 0.75rem;
    -moz-border-radius: 0.75rem;
}
.meal-img img{
    width: 100%;
    display: block;
}
.meal-name{
    padding: 1.5rem 0.5rem;
}
.meal-name h3{
    font-size: 1.4rem;
}
.recipe-btn{
    text-decoration: none;
    color: #fff;
    background: #5e0be4;
    font-weight: 500;
    font-size: 1.3rem;
    width: 175px;
    padding: 0.75rem 0;
    display: block;
    margin: 1.2rem auto;
    border-radius: 2rem;
    -webkit-border-radius: 0.7rem;
    -ms-border-radius: 0.7rem;
    -o-border-radius: 0.7rem;
    -moz-border-radius: 0.7rem;
    transition: all 0.6s linear;
    -webkit-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
}
.recipe-btn:hover{
    background: #ae84d6;
}

/* isi resep makanan */
.meal-details{
    position: fixed;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    display: none;
    padding: 2rem 0;
    top: 50%;
    left: 50%;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    transform: translate(-50%, -50%);
    color: #fff;
    background: rgb(83, 58, 192);
    border-radius: 1rem;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.meal-details::-webkit-scrollbar{
    width: 10px;
}
.meal-details::-webkit-scrollbar-thumb{
    background: #f0f0f0;
    border-radius: 1.9rem;
    -webkit-border-radius: 1.9rem;
    -ms-border-radius: 1.9rem;
    -o-border-radius: 1.9rem;
    -moz-border-radius: 1.9rem;
}


/* konten hasil javascript*/
.showRecipe{
    display: block;
}

.meal-details-content{
    margin: 2rem;
}
.meal-details-content p:not(.recipe-category){
    padding: 1rem 0;
}
.recipe-close-btn{
    position: absolute;
    right: 1.8rem;
    top: 1.8rem;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: #4a48bd;
    background: #cfcfda;
    border: none;
    -webkit-border-radius: 1.9rem;
    -ms-border-radius: 1.9rem;
    -o-border-radius: 1.9rem;
    -moz-border-radius: 1.9rem;
}
.recipe-title{
    letter-spacing: 1.1px;
    padding-bottom: 1.2rem;
}


.recipe-category{
    background: #6865f7;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    font-weight: 600;
    display: inline-block;
    -webkit-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
}
.recipe-instruct{
    padding: 1rem 0;
}
.recipe-meal-img img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    -webkit-border-radius: 25%;
    -moz-border-radius: 15%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
}
.recipe-link{
    margin: 1.2rem 0;
}
.recipe-link a{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.7s linear;
    -webkit-transition: all 0.7s linear;
    -ms-transition: all 0.7s linear;
    -moz-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;
}
.recipe-link a:hover{
    opacity: 0.8;
}

/*dialog saat teks tidak ketemu*/
.notFound{
    grid-template-columns: 1fr!important;
    font-size: 1.9rem;
    font-weight: 500;
    color: rgb(170, 62, 62);
    width: 100%;
    align-items: center;
    justify-content: center;
}

/*footer */
footer{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
    background: #dde8f3e5;
    text-align: center;
}

/* adaptasi screen*/
@media screen and (min-width: 600px){
    .meal-search-box{
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}
  
@media screen and (min-width: 768px){
    #meal{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .meal-item{
        margin: 0;
    }
    .meal-details{
        width: 700px;
    }
}

@media screen and (min-width: 992px){
    #meal{
        grid-template-columns: repeat(3, 1fr);
    }
}